#content{
	margin-top: 130px;
	text-align: center;
}
#logo {
	width: 80px;
	height: 80px;
	border-radius: 40px;
	background-color: black;
	color: white;
	line-height: 80px;
	text-align: center;
    display: inline-block;
    font-size: 40px;
    position: relative;
    font-family: 'Julius Sans One', sans-serif;
	margin-bottom: 20px;
	letter-spacing: 1px;
	opacity: 0.5;
}

.name{
	font-family: 'Julius Sans One', sans-serif;
	letter-spacing: 5px;
	}	

#portbutton{
	background-color:black;
	opacity: 0.5;
    font-family: 'Julius Sans One', sans-serif;
    letter-spacing: 5px;
	width: relative;
}	

#hide{
	display: none;
	}

#header{
	width: 100%;
	position: fixed;
	text-align: center;
	background-color: white;
	opacity:0.95;
	}
	
#headerlogo {
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background-color: black;
	color: white;
	line-height: 40px;
	text-align: center;
    display: inline-block;
    font-size: 20px;
    position: relative;
    font-family: 'Julius Sans One', sans-serif;
	margin-top: 5px;
	letter-spacing: 1px;
	opacity: 0.5;
}

#pointer{
	cursor: pointer;
	padding: 0;
	}
	
#space{
	margin-top: 100px;
	}	
	
#photolink{
	text-decoration: underline;
	cursor: pointer;
	}
#photos{
	background-color: #F0F0F0;
	display: none;
	}	
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
#close{
	display: block;
    font-size: 20px;
    position: absolute;
    margin-top: 5px;
	right: 15px;
    font-family: 'Julius Sans One';
	cursor: pointer;
    }

.mySlides {
	margin-top: 50px;
    display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor:pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
#skillcont{
	width: 80%
	}
.skill{
	font-family: Julius Sans One;
	letter-spacing: 2px;
	font-size: 15px;
	}
	
.bar{
	width: 100%;
	height: 5px;
	background-color: gray;
	margin-bottom: 10px;
	}
.right{
	float: right;
	}

a{
	color: black;
	text-decoration: underline;
	font-family: 'Raleway';
	}
p{
	font-family: 'Raleway';
	}	
a:hover{
	color:black;
	}

.projects{
	text-align:center;
	}	
	
#html{
	width: 79%;
	height: 100%;
	background-color: black;
	}

#css{
	width: 88%;
	height: 100%;
	background-color: black;
	}

#javascript{
	width: 76%;
	height: 100%;
	background-color: black;
	}

#jquery{
	width: 70%;
	height: 100%;
	background-color: black;
	}	
	
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=button] {
    width: relative;
    background-color: black;
	opacity: 0.5;
	color: white;
    padding: 6px 4px;
	display: block;
    margin: auto;
    border: none;
    cursor: pointer;
}

input[type=button]:hover {

}

#submit{
	width: 50%;
	}

.icon{
	width: 20px;
	height: 20px;
	margin-right: 10px;
	}	
.icon:hover{
	opacity: 0.5;
	}	
	
#footer{
	margin-top: 50px;
	font-size: 10px;
	padding-top: 15px;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	bottom: 0;
}